/* FONTS */

h1 {
    font-family:sans-serif,helvetica,arial;
    font-weight:bold;
    font-size:100px;
    color: #26574E;
}
h2 {
    font-family:sans-serif,helvetica,arial;
    font-weight:bold;
    font-size:100px;
    margin-top:210px;
}
h3 {
    font-family:sans-serif,helvetica,arial;
    font-weight:bold;
    font-size:48px;
}
h4 {
    font-family:sans-serif,helvetica,arial;
    font-style: bold;
    font-size:24px;
    color: #26574E;
}
p {  
    font-family:sans-serif,helvetica,arial;
    font-style:normal;
    font-size:18px;
}

/* TOP NAVIGATION */

.navigation {
    position: fixed;
    top:0;
    background-color:white;
    width:100%;
    height:100x;
    display:flex;
    justify-content:space-between;
    align-items:center;
    z-index:100;
}
.logo {
    width:60px;
    padding: 10px 20px;
}
.logo:hover {
    cursor:pointer;
}
.topmenu {
    display:flex;
    justify-content:center;
    color:#26574E;
    font-family:sans-serif,helvetica,arial;
    list-style-type:none;
    padding:20px;
}
li {
    margin: 0px 10px;
}
.menuitem:hover {
    color:#162737;
    font-weight:900;
    text-decoration-line:underline;
    cursor:pointer;
}

/* HERO SECTION */

.heroimg {
    width:100%;
    height:800px;
    background-repeat:no-repeat;
    background-size: auto 100%;
    background-position:left center;
    background-image: url("../img/Frame\ 2heroimage_gradient.png");
    margin-top:100px;
}
.content {
    position:absolute;
    right:25px;
    top:200px;
}


/* ABOUT ME SECTION */

.about {
    width:100%;
}
.aboutmegrid {
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr 1fr;
    grid-template-areas: 
    "whydesign profileimage"
    "aboutme aboutme"
    ;
    grid-gap:50px 25px;
}
.profileimage {
    margin-top:-400px;
    grid-area:profileimage;
    width: 80%;
    min-width:350px;
    padding:5% 10%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.profileimage img {
    margin-bottom:50px;
}
.whydesign {
    grid-area: whydesign;
    width:60%;
    color:black;
    text-align:left;
    margin:auto;
    padding:5% 20%;
    z-index:5;
}
.aboutme {
    grid-area:aboutme;
    width:60%;
    background-color:#26574E;
    padding:5% 20%;
    color:white;
}


/* MY SKILLS SECTION */

.skillstoolsAlt {
    margin-top:300px;
}
#skillsdrop, #toolsdrop {
    cursor:pointer;
    font-family:sans-serif,helvetica,arial;
    font-weight:bold;
    font-size:100px;
    margin: 0 auto;
    padding:100px;
}
#skillsdrop, #skillslist {
    text-align:center;
    background-color:#FFE0C3;
    color:#9B271E
}
#toolsdrop, #toolslist {
    text-align:center;
    background-color:#E8F0EE;
    color:#26574E;
}
#skillslist, #toolslist {
    margin:0;
    padding-bottom:100px;
    display:none;
    list-style-type:none;
}
#skillslist li, #toolslist li {
    padding:20px;
    font-family:sans-serif,helvetica,arial;
    font-size:18px;
}
.plus_minus {
    color:white;
    font-size:100px;
    font-weight:900;
    margin-left:100px;
}
#skillsdrop.plus_minus:hover {
    color:#9B271E;
}

/* MY SKILLS SECTION ALTERNATE 1

.skillstools {
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:1000px;
    margin:0 auto;
    margin-top:20px;
}
.skills {
    background-color:#26574E;
    color:white;
    width:40%;
    height:80%;
    padding: 10% 5% 10% 5%;
    z-index:1;
}
.tools {
    background-color:lightgray;
    color:#26574E;
    width:40%;
    height:80%;
    padding: 10% 5% 10% 5%;
    z-index:1;
}
.skillstoolsbutton {
    position: absolute;
    z-index:2;
    align-self:flex-end;
    margin-bottom:50px;
}
#skillstoolshead {
    margin-top:0px;
}
.toolslist {
    color:black;
}
.skillsitem, .toolsitem {
    margin-top:20px;
    font-family:sans-serif,helvetica,arial;
}

*/

/* MY SKILLS SECTION ALTERNATE 2

.skillstoolsAlt {
    display:grid;
    grid-template-columns:100%;
    grid-template-rows:50% 50%;
    grid-template-areas: 
    "skillsdrop"
    "toolsdrop"
    ;
    width:100%;
    height:700px;
    margin-top:300px;
    align-items:stretch;
    align-content:stretch;
}
.skillsdrop {
    grid-area: skillsdrop;
    background-color:#FFE0C3;
    color:#9B271E;
}
.toolsdrop {
    grid-area: toolsdrop;
    background-color:#E8F0EE;
    color:#26574E;
}
.skillsdrop h2, .toolsdrop h2 {
    margin-top:220px;
    margin-left:25px;
}
.skillsdrop h2 img, .toolsdrop h2 img {
    margin-left:50px;
}
*/


/* MY WORK SECTION */

.mywork {
    height:2000px;
    width:100%;
}
.sectionheader {
    color:white;
    background-color:#162737;
    width:100%;
    height:300px;
    margin-top:300px;
    margin-bottom:100px;
    padding:25px 25px 0px 25px;
}
.workgrid {
    width:80%;
    height:1200px;
    display:grid;
    grid-template-rows:50% 50%;
    grid-template-columns:40% 60%;
    grid-template-areas:
    "hhimage hhtext"
    "edimage edtext"
    ;
    justify-content:start;
    align-items:center;
    margin:auto;
    grid-gap:0px 45px;
}
.hhimage {
    grid-area: hhimage;
    width:100%;
    object-fit:cover;
    object-position:center;
}

.hhtext {
    grid-area:hhtext;
    width:100%;
}
.edimage {
    grid-area: edimage;
    width:100%;
    object-fit:cover;
    object-position:center;
}
.edtext {
    grid-area:edtext;
    width:100%;
}
button {
    color:black;
    background-color:#DBADA7;
    text-align:center;
    border: none;
    height:50px;
    width:250px;
    margin:25px 0px;
}
button:hover {
    background-color:#9B271E;
    color:white;
    font-weight:900;
    box-shadow:5px 5px 10px #DBADA7;
    cursor:pointer;
}
.viewmore {
    margin:auto;
    display:block;
    width:350px;
    margin-top:150px;
    background-color:white;
    border:2px solid #9B271E;
    color:#9B271E;
}
.viewmore:hover {
    color:white;
    background-color:#9B271E;
    font-weight:900;
    box-shadow:5px 5px 10px #DBADA7;
    cursor:pointer;
}

/* FOOTER NAVIGATION */

footer {
    background-color:#E8F0EE;
    color:#26574E;
    width: 100%;
    position: fixed bottom;
    height:75px;
}
.footermenu {
    display:flex;
    justify-content:center;
    color:#26574E;
    font-family:sans-serif,helvetica,arial;
    list-style-type:none;
    padding:20px;
}

html, body {
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

/* MOBILE MEDIA QUERY */

@media only screen and (max-width:600px) {
    .skillstools {
        flex-direction:column;
    }
    .skills, .tools {
        width:100%;
    }
    .mywork {
        height:2800px;
    }.workgrid {
        height:2000px;
        grid-template-columns:1fr;
        grid-template-rows: 20% 30% 20% 30%;
        grid-template-areas: 
        "hhimage"
        "hhtext"
        "edimage"
        "edtext"
        ;
        align-items:flex-start;
    }
}